<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container logged-in">
      <a id="logo" class="brand" href="/">
        <!--<%= link_to image_tag( "logos/#{Image::MAIN_LOGO}.png", :alt => 'hadean image.'), root_path %>-->
        <%#= link_to 'RoR Ecommerce', root_path %>
        <h2><%= site_name %></h2>
      </a>
      <ul class="nav pull-right">
        <li class="" id="main-nav-home">
          <a href="/"><strong>Home</strong></a>
        </li>
        <li class="" id="main-nav-about">
          <a href="/about"><strong>About</strong></a>
        </li>
        <li class="" id="main-nav-contact">
          <a href="#/contact"><strong>Contact</strong></a>
        </li>
        <li class="" id="main-nav-blog">
          <a href="#/blog"><strong>Blog</strong></a>
        </li>
        <li class="" id="main-nav-shop">
          <a href="/shop"><i class="icon-shopping-cart icon-white"></i>&nbsp;<strong>Shop</strong></a>
        </li>
        <li class="divider-vertical no-left"></li>
        <li class="no-link" id="menu-main-user">
            <% unless most_likely_user %>
              <strong>
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Login</a> 
                <div class="dropdown-menu login-form">                   
                <%= form_for  @user_session, :as => :user_session,
                  :url => user_sessions_path(@user_session),
                  :html => {:class => ''} do |form| %>
                      <fieldset>
                            <div class="control-contain">
                                <div class="control-group">
                                    <div class="controls">
                                      <%= form.email_field :email, :autocomplete => 'off', :autocapitalize => 'off', :class => 'input-medium', :placeholder => 'Your email address' %>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                      <%= form.password_field :password, :autocomplete => 'off', :autocapitalize => 'off', :class => 'input-medium', :placeholder => "Your password" %>
                                    </div>
                                </div>
                              </div>
                              <%= form.submit "Login", :class => 'btn btn-large btn-primary' %>
                      </fieldset>
                    <% end %>
                    
                              <div class="divider"></div>
                          <%= link_to 'forgot password?', new_customer_password_reset_path() %>
                </div>
              </strong> or
              <span><%= link_to 'Sign up', signup_path %></span>
            <% else %>
              <strong>Hi <%= most_likely_user.first_name %></strong>
              <span>(<%= link_to 'not you?', logout_path %>)</span>
            <% end %>
        </li>
      </ul>

    </div>
  </div>
</div>
<!-- -->

