<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container logged-in">
      <a id="logo" class="brand">
        <!--<%= link_to image_tag( "logos/#{Image::MAIN_LOGO}.png", :alt => 'hadean image.'), root_path %>-->
        <%#= link_to 'RoR Ecommerce', root_path %>
        <%= site_name %>
      </a>
      <ul class="nav pull-right">
        <li class="" id="main-nav-home">
          <a href="/"><strong>Home</strong></a>
        </li>
        <li class="" id="main-nav-about">
          <a href="#"><strong>About</strong></a>
        </li>
        <li class="" id="main-nav-contact">
          <a href="#"><strong>Contact</strong></a>
        </li>
        <li class="" id="main-nav-blog">
          <a href="#"><strong>Blog</strong></a>
        </li>
        <li class="" id="main-nav-shop">
          <a href="shop"><strong>Shop</strong></a>
        </li>
        <li class="" id="menu-main-user">
            <% unless most_likely_user %>
              <strong><%= link_to 'Login',  login_path %></strong> or
              <span><%= link_to 'Sign up', signup_path %></span>
            <% else %>
              <strong>Hi <%= most_likely_user.first_name %></strong>
              <span>(<%= link_to 'not you?', logout_path %>)</span>
            <% end %>
        </li>
      </ul>

    </div>
  </div>
</div>
<!-- -->

